# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [76]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [77]:
df = pd.read_csv('Datasets/census.data', header=None, na_values='?')
df.columns= ['index','education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df.head(5)

,index,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,3,11th,53,NaN,Black,0,40,Male,<=50K
4,4,Bachelors,28,0.0,Black,0,40,Female,<=50K

In [78]:
df = df.drop(labels=['index'], axis=1)
df.head(5)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [79]:
df.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

In [80]:
df['capital-gain'].unique()

array([  2174.,     nan,      0.,  14084.,   5178.,   5013.,   2407.,
        14344.,  15024.,   7688.,  34095.,   4064.,   4386.,   7298.,
         1409.,   3674.,   1055.,   3464.,   2050.,   2176.,    594.,
         6849.,   4101.,   1111.,   3411.,   2597.,  25236.,   4650.,
         9386.,   2463.,   3103.,  10605.,   2964.,   3325.,   2580.,
         3471.,   4865.,   6514.,   1471.,   2329.,  99999.,  20051.,
         2105.,   2885.,  25124.,  10520.,   2202.,   2961.,  27828.,
         6767.,   8614.,   2228.,   1506.,  13550.,   2635.,   5556.,
         4787.,   3781.,   3137.,   3818.,   3942.,    914.,    401.,
         2829.,   2977.,   4934.,   2062.,  15020.,   1424.,   3273.,
        22040.,   4416.,  10566.,    991.,   4931.,   1086.,   7430.,
         6497.,    114.,   7896.,   2346.,   3432.,   2907.,   1151.,
         2414.,   2290.,   3418.,  15831.,  41310.,   4508.,   5455.,
         2538.,   3456.,   3908.,   1848.,   3887.,   5721.,   9562.,
         6418.,   1455.,   2036.,   1831.,  11678.,   2936.,   2993.,
         7443.,   6360.,   2354.,   1797.,   1173.,   4687.,   2009.,
         6097.,   2653.,  18481.,   7978.,   2387.,   6723.,   5060.])

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [81]:
# df = pd.read_csv('Datasets/census.data', header=None, na_values='?')

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [82]:
df.head(20)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174.0,White,0,40,Male,<=50K
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
4,Bachelors,28,0.0,Black,0,40,Female,<=50K
5,Masters,37,0.0,White,0,40,Female,<=50K
6,9th,49,0.0,Black,0,16,Female,<=50K
7,HS-grad,52,0.0,White,0,45,Male,>50K
8,Masters,31,14084.0,White,0,50,Female,>50K
9,Bachelors,42,5178.0,White,0,40,Male,>50K
10,Some-college,37,0.0,Black,0,80,Male,>50K
11,Bachelors,30,0.0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0.0,White,0,30,Female,<=50K
13,7th-8th,34,0.0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0.0,White,0,35,Male,<=50K
15,HS-grad,32,0.0,White,0,40,Male,<=50K
16,11th,38,0.0,White,0,50,Male,<=50K
17,Masters,43,0.0,White,0,45,Female,>50K
18,Doctorate,40,0.0,White,0,60,Male,>50K
19,HS-grad,54,0.0,Black,0,20,Female,<=50K

In [83]:
print(df['education'].unique())
print(df['race'].unique())
print(df['sex'].unique())
print(df['classification'].unique())

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
['Male' 'Female']
['<=50K' '>50K']

In [84]:
ordered_education = ['Preschool','1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
df.education = df.education.astype(
    "category",
    ordered=True,
    categories=ordered_education
).cat.codes

In [85]:
ordered_classification = ['<=50K', '>50K']
df.classification = df.classification.astype(
    "category",
    ordered=True,
    categories=ordered_classification
).cat.codes

In [86]:
df.head(20)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,10,39,2174.0,White,0,40,Male,0
1,10,50,NaN,White,0,13,Male,0
2,8,38,NaN,White,0,40,Male,0
3,6,53,NaN,Black,0,40,Male,0
4,10,28,0.0,Black,0,40,Female,0
5,11,37,0.0,White,0,40,Female,0
6,4,49,0.0,Black,0,16,Female,0
7,8,52,0.0,White,0,45,Male,1
8,11,31,14084.0,White,0,50,Female,1
9,10,42,5178.0,White,0,40,Male,1
10,9,37,0.0,Black,0,80,Male,1
11,10,30,0.0,Asian-Pac-Islander,0,40,Male,1
12,10,23,0.0,White,0,30,Female,0
13,3,34,0.0,Amer-Indian-Eskimo,0,45,Male,0
14,8,25,0.0,White,0,35,Male,0
15,8,32,0.0,White,0,40,Male,0
16,6,38,0.0,White,0,50,Male,0
17,11,43,0.0,White,0,45,Female,1
18,12,40,0.0,White,0,60,Male,1
19,8,54,0.0,Black,0,20,Female,0

In [87]:
df = pd.get_dummies(df,columns=['race']) #One hot encoder!
df = pd.get_dummies(df,columns=['sex']) #One hot encoder!

In [88]:
df.head(20)

,education,age,capital-gain,capital-loss,hours-per-week,classification,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,10,39,2174.0,0,40,0,0,0,0,0,1,0,1
1,10,50,NaN,0,13,0,0,0,0,0,1,0,1
2,8,38,NaN,0,40,0,0,0,0,0,1,0,1
3,6,53,NaN,0,40,0,0,0,1,0,0,0,1
4,10,28,0.0,0,40,0,0,0,1,0,0,1,0
5,11,37,0.0,0,40,0,0,0,0,0,1,1,0
6,4,49,0.0,0,16,0,0,0,1,0,0,1,0
7,8,52,0.0,0,45,1,0,0,0,0,1,0,1
8,11,31,14084.0,0,50,1,0,0,0,0,1,1,0
9,10,42,5178.0,0,40,1,0,0,0,0,1,0,1
10,9,37,0.0,0,80,1,0,0,1,0,0,0,1
11,10,30,0.0,0,40,1,0,1,0,0,0,0,1
12,10,23,0.0,0,30,0,0,0,0,0,1,1,0
13,3,34,0.0,0,45,0,1,0,0,0,0,0,1
14,8,25,0.0,0,35,0,0,0,0,0,1,0,1
15,8,32,0.0,0,40,0,0,0,0,0,1,0,1
16,6,38,0.0,0,50,0,0,0,0,0,1,0,1
17,11,43,0.0,0,45,1,0,0,0,0,1,1,0
18,12,40,0.0,0,60,1,0,0,0,0,1,0,1
19,8,54,0.0,0,20,0,0,0,1,0,0,1,0

Lastly, print out your dataframe!

In [89]:
df

,education,age,capital-gain,capital-loss,hours-per-week,classification,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,10,39,2174.0,0,40,0,0,0,0,0,1,0,1
1,10,50,NaN,0,13,0,0,0,0,0,1,0,1
2,8,38,NaN,0,40,0,0,0,0,0,1,0,1
3,6,53,NaN,0,40,0,0,0,1,0,0,0,1
4,10,28,0.0,0,40,0,0,0,1,0,0,1,0
5,11,37,0.0,0,40,0,0,0,0,0,1,1,0
6,4,49,0.0,0,16,0,0,0,1,0,0,1,0
7,8,52,0.0,0,45,1,0,0,0,0,1,0,1
8,11,31,14084.0,0,50,1,0,0,0,0,1,1,0
9,10,42,5178.0,0,40,1,0,0,0,0,1,0,1
10,9,37,0.0,0,80,1,0,0,1,0,0,0,1
11,10,30,0.0,0,40,1,0,1,0,0,0,0,1
12,10,23,0.0,0,30,0,0,0,0,0,1,1,0
13,3,34,0.0,0,45,0,1,0,0,0,0,0,1
14,8,25,0.0,0,35,0,0,0,0,0,1,0,1
15,8,32,0.0,0,40,0,0,0,0,0,1,0,1
16,6,38,0.0,0,50,0,0,0,0,0,1,0,1
17,11,43,0.0,0,45,1,0,0,0,0,1,1,0
18,12,40,0.0,0,60,1,0,0,0,0,1,0,1
19,8,54,0.0,0,20,0,0,0,1,0,0,1,0
20,4,35,0.0,0,40,0,0,0,1,0,0,0,1
21,6,43,0.0,2042,40,0,0,0,0,0,1,0,1
22,8,59,0.0,0,40,0,0,0,0,0,1,1,0
23,10,56,0.0,0,40,1,0,0,0,0,1,0,1
24,8,19,0.0,0,40,0,0,0,0,0,1,0,1
25,9,54,0.0,0,60,1,0,1,0,0,0,0,1
26,8,39,0.0,0,80,0,0,0,0,0,1,0,1
27,8,49,0.0,0,40,0,0,0,0,0,1,0,1
28,9,20,0.0,0,44,0,0,0,1,0,0,0,1
29,10,45,0.0,1408,40,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29506,8,30,0.0,0,55,0,0,0,0,0,1,0,1
29507,5,32,0.0,0,40,0,0,0,0,0,1,0,1
29508,9,22,0.0,0,40,0,0,0,0,0,1,0,1
29509,8,31,0.0,0,40,0,0,0,0,0,1,1,0
29510,8,29,0.0,0,35,0,0,0,0,0,1,1,0
29511,10,35,0.0,0,55,1,0,0,0,0,1,1,0
29512,10,30,0.0,0,99,0,0,1,0,0,0,1,0
29513,12,34,0.0,0,60,1,0,0,0,0,1,0,1
29514,10,54,0.0,0,50,1,0,1,0,0,0,0,1
29515,9,37,0.0,0,39,0,0,0,0,0,1,1,0
29516,7,22,0.0,0,35,0,0,0,1,0,0,0,1
29517,10,34,0.0,0,55,1,0,0,0,0,1,1,0
29518,8,30,0.0,0,46,0,0,0,1,0,0,0,1
29519,10,38,15020.0,0,45,1,0,0,1,0,0,1,0
29520,12,71,0.0,0,10,1,0,0,0,0,1,0,1
29521,8,45,0.0,0,40,0,0,0,0,0,1,1,0
29522,8,41,0.0,0,32,0,0,0,1,0,0,1,0
29523,8,72,0.0,0,25,0,0,0,0,0,1,0,1
29524,11,31,0.0,0,30,0,0,0,0,1,0,1,0
29525,8,43,0.0,0,40,0,0,0,0,0,1,0,1
29526,9,43,0.0,0,40,0,0,0,0,0,1,1,0
29527,9,43,0.0,0,50,0,0,0,0,0,1,0,1
29528,5,32,0.0,0,40,0,1,0,0,0,0,0,1
29529,11,32,0.0,0,11,0,0,1,0,0,0,0,1
29530,11,53,0.0,0,40,1,0,0,0,0,1,0,1
29531,9,22,0.0,0,40,0,0,0,0,0,1,0,1
29532,8,40,0.0,0,40,1,0,0,0,0,1,0,1
29533,8,58,0.0,0,40,0,0,0,0,0,1,1,0
29534,8,22,0.0,0,20,0,0,0,0,0,1,0,1
29535,8,52,15024.0,0,40,1,0,0,0,0,1,1,0